body{
    background-color: #FAFAFA;
}

.field{
    position: relative;
}

.form-label{
    position: absolute;
    pointer-events: none;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    transition: all ease-out 0.1s;
    color: #999;
    font-size: 12px;
}

.form-input::placeholder{
    visibility: hidden;
}

.form ::-moz-placeholder {
    color: transparent;
}

.form-input:not(:placeholder-shown) + label{
    top: 1px;
    transform: translateY(0);
    font-size: .65rem;
}

.form-input:not(:placeholder-shown){
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-1rem);
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes growth{
    from {
        opacity: 0;
        transform: scale(var(--growth-from));
    }
    to{
        opacity: 1;
        transform: scale(var(--growth-to));
    }
}

.comments::-webkit-scrollbar{
    display: none
}

.profile-actions,
.search-results,
.notifications{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    animation: fadeIn ease-out 75ms;
}

.notifications-count{
    --growth-from: 0;
    --growth-to: 1;
    animation: growth linear 75ms;
}

.profile-actions:before{
    content: "";
    position: absolute;
    top: -10px;
    right: 1rem;
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    filter: drop-shadow(2px -3px 2px rgba(149, 157, 165, 0.2));
}

.notifications:before{
    content: "";
    position: absolute;
    top: -10px;
    right: 2.75rem;
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    filter: drop-shadow(2px -3px 2px rgba(149, 157, 165, 0.2));
}

.search-results:before{
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    filter: drop-shadow(2px -2px 2px rgba(149, 157, 165, 0.2));
    z-index: 30;
}

.notifications-count:before{
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -10px;
    border-bottom: 10px solid #ed4956;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
}


.followers-modal,
.following-modal,
.post-actions-modal,
.unfollow-modal,
.remove-follower-modal{
    --growth-from: 1.2;
    --growth-to: 1;
    animation: growth linear .1s;
}